@page {
  margin: 3pc;
  size: portrait;
}

html {
  padding: 0;
  print-color-adjust: exact;
}

body {
  font: 11pt "Metropolis";
  font-weight: 500;
  line-height: 15.4pt;
  margin: 0pc 0 0 0;
}

a {
  color: #00AAFF;
  text-decoration: none;
}

p, table, ul {
  margin: 15.4pt 0;
}

ul {
  padding-left: 30.8pt;
}

.profile-link {
  color: #00AAFF;
  font-weight: 600;
}

.profile-value {
  color: inherit;
  font-weight: 600;
}

img {
  width: 100%;
  height: 100%;
}

.logo {
  height: 4pc;
  left: 0;
  position: absolute;
  top: 0;
  width: 4pc;
}

.gig-logo {
  height: 4pc;
  left: -1in;
  position: absolute;
  width: 4pc;
}

h1 {
  font-weight: 100;
  font-size: 33pt;
  line-height: 46.2pt;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 22pt;
  line-height: 30.8pt;
  margin: 0;
}

h3 {
  font-weight: 300;
  font-size: 13.2pt;
  line-height: 18.48pt;
  margin: 0;
}

h4 {
  color: #888888;
  font-size: 11pt;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  vertical-align: bottom;
}

strong {
  font-weight: 800;
}

section {
  margin: 15.4pt 0;
}

.category {
  margin-left: 1in;
  position: relative;
}

.position {
  font-weight: 600;
}

.time {
  color: #888888;
  font-style: italic;
}

.projects {
  margin: 30.8pt 0 15.4pt 30.8pt;
}

.project .company {
  font-weight: 600;
}

.project .company + p {
  margin-top: 0;
}

.project .position {
  font-weight: 500;
}

.project ul {
  list-style: circle;
}

.skill-level th {
  font-weight: 600;
  padding-right: 30.8pt;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
}

.block {
  page-break-inside: avoid;
}

.degree .field {
  font-weight: 600;
}

.degree .school {
  font-style: italic;
}

.degree .time {
  color: inherit;
  font-style: italic;
  font-weight: 500;
}
